
@media screen and (max-width: 1000px) {
    .home {
        .home-content {
            .hook-default {
                font-size: calc(var(--home-hook-font-size)*(2/3));
                .last-name {
                    font-size: calc(var(--home-last-name-font-size)*(2/3));
                    .O {
                        .image-frame {
                            img {
                                height: calc(var(--home-img-o-font-size)*(2/3));
                                border: calc(var(--home-img-border-size)*(2/3)) solid var(--color-secondary);
                            }
                        }
                    }
                }
            }
        }
    }
    
    .about {    
        .about-content {
            .about-me {
                width: 80%;
            }
            .about-stats {
                width: 80%;
            }
            
            .about-timeline {
                width: 80%;
            }
        }
    }

}

@media screen and (max-width: 700px) {
    .home {
        .home-content {
            .hook-default {
                font-size: calc(var(--home-hook-font-size)*(2/3));
                .last-name {
                    font-size: calc(var(--home-last-name-font-size)*(1/2));
                    .O {
                        .image-frame {
                            img {
                                height: calc(var(--home-img-o-font-size)*(1/2));
                                border: calc(var(--home-img-border-size)*(1/2)) solid var(--color-secondary);
                            }
                        }
                    }
                }
            }
        }
    }

    .about {    
        .about-content {
            .about-me {
                .paragraph {
                    font-size: 1.2rem;
                }
            }
        }
    }

}

@media screen and (max-width: 650px) {

}

@media screen and (max-width: 600px) {
    .menu {
        .nav-bar {
            .nav-btn-envelope { 
                padding: 0 1rem;   
            }
        }
    }
}

@media screen and (max-width: 520px) {

    .menu {
        .nav-bar {
            .nav-btn-envelope { 
                padding: 0 .8rem;   
                .nav-btn {
                    font-size: .90rem;
                }
                
            }
            .nav-theme-btn{
                cursor: pointer;
                position: static;
                display: block;
                right: auto;
                padding-left: .8rem;
            }
        }
    }

    .home {
        .home-content {
            .hook-default {
                display: none;
                font-size: calc(var(--home-hook-font-size)*(2/3));
                .last-name {
                    font-size: calc(var(--home-last-name-font-size)*(2/5));
                    .O {
                        .image-frame {
                            img {
                                height: calc(var(--home-img-o-font-size)*(2/5));
                                border: calc(var(--home-img-border-size)*(2/5)) solid var(--color-secondary);
                            }
                        }
                    }
                }
            }
            .hook-responsive {
                display: block;
                font-size: calc(var(--home-hook-font-size)*(2/3));
                font-weight: 600;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .image-frame {
                    img {
                        height: calc(var(--home-img-o-font-size)*(2/3));
                        border: calc(var(--home-img-border-size)*(2/3)) solid var(--color-secondary);
                        width: auto;
                        border-radius: 50%;
                    }
                }

                .greeting {
                    .name {
                        color: var(--color-secondary)
                    }
                }
                .last-name {
                    font-size: calc(var(--home-last-name-font-size)*(2/5));
                }
            }
        }
    }

    .about {    
        .about-content {
            .about-me {
                width: 90%;
            }
            
            .about-timeline {
                width: 70%;
                .timeline-item {
                    padding-left: 1rem;
                }
            }
        }
    }

    .portfolio {
        .projects {
            .project {
                position: relative;
                margin: 2rem;
                img {
                    width: 60vw;
                    height: 50vw;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
        }
    }

}

@media screen and (max-width: 420px) {
    
    .home {
        .home-content {
            .hook-responsive {
                font-size: calc(var(--home-hook-font-size)*(2/3));
                .image-frame {
                    img {
                        height: calc(var(--home-img-o-font-size)*(2/3));
                        border: calc(var(--home-img-border-size)*(2/3)) solid var(--color-secondary);
                    }
                }
                .last-name {
                    font-size: calc(var(--home-last-name-font-size)*(3/10));
                }
            }
        }
    }
    .about {
        .about-timeline {
            .timeline-item {
                .timeline-icon {
                    position: absolute;
                    left: -3rem;
                    top: 0;
                    color: var(--color-primary);
                    background-color: var(--color-secondary);
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 1.3rem;
                    }
                }
                .timeline-duration {
                    padding: .2rem .6rem;
                    background-color: var(--color-grey-4);
                    border-radius: 15px;
                    display: inline-block;
                    font-size: .8rem;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                h5 {
                    padding: 1rem 0;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    font-weight: 600;
                    span{
                        color: var(--color-grey-2);
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
                p {
                    color: var(--color-grey-2);
                }
        
            }
        }
    }

}

@media screen and (max-width: 350px) {

}